.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#logout-form {
  display: inline;
}
#logout-form button {
  padding: 0;
  margin: 0;
}

.btn-sidebar {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.btn-login {
    background-color: #007bff; /* Azul */
    color: white !important;
}

.btn-logout {
    background-color: #dc3545; /* Rojo */
    color: white !important;
}